/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    margin-bottom: 2rem;
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #dceefd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    /*padding: 0 18px;*/
    background-color: white;
    display: none;
    margin-bottom: 2rem;
    text-align: right;
}

.panel p{
    padding: 0 1rem;
}

.accordion h2{
    margin: 2rem 2rem;
    font-size: 2rem;
}

/*.panel main section a{
    text-align: right;
    display: block;
}*/

main .panel p:before {    
    font-family: 'FontAwesome';
    content: '\f192';
    margin: 0 10px 0 25px;
    color: #0d47a1;
}

main .panel p::after {
	text-align: right;
	content: "";
	display: block;
	height: .4rem;
	width: 25rem;
	background-color: #0d47a1;
	margin: 2rem auto;
}



/*---------------------------------------------------------
                MEDIA QUERIES SMARTPHONE
-----------------------------------------------------------*/

@media only screen and (max-width : 415px) {
    main section{
        width : 100%;
        margin: auto;
    }

    .accordion h2{
        margin: 2rem 2rem;
        font-size: 1.8rem;
    }

    main .panel p::after {
        text-align: right;
        content: "";
        display: block;
        height: .4rem;
        width: 12.5rem;
        background-color: #0d47a1;
        margin: 2rem auto;
    }

    main .panel p:before {    
        font-family: 'FontAwesome';
        content: '\f192';
        margin: 0 10px 0 0px;
        color: #0d47a1;
    }

}