main section {
    width: 60%;
    display: inline-block;
    background-color: white;
    padding: 4rem;
    margin: 4rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
}

main article {
    margin-bottom: 2rem;
}

section {
    text-align: left;
}

ul {
    margin-bottom: 2rem;
    padding: 2rem;
}

/*p {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
*/
a {
    text-decoration: none;
}


span{
    font-weight: bold;
}

main input, main textarea, main select{
    width : 90%;
    display: block;
    margin: 0 auto 1rem auto; 
}

main label{
    margin-bottom: 1rem; 
    display: block;
}

main textarea{
    height: 10rem;
}

main select{
    text-align: center;

}