main section {
    width: 60%;
    display: inline-block;
    background-color: white;
    padding: 4rem;
    margin: 4rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
}

main article {
    margin-bottom: 2rem;
}

section {
    text-align: left;
}

ul {
    margin-bottom: 2rem;
    padding: 2rem;
}

a {
    text-decoration: none;
}